*.dart linguist-detectable=true
*.d linguist-detectable=false
*.java linguist-detectable=false
*.m linguist-detectable=false
*.h linguist-detectable=false
*.asm linguist-detectable=false
*.a51 linguist-detectable=false
*.i linguist-detectable=false
*.inc linguist-detectable=false
*.nasm linguist-detectable=false